#logo{
	color: #6EB7FF;
}

#favlist {
	margin-left: .5em;
	color: gray;
}

input[type=text]
{
    background-color: #E6DFDF;
    border:solid 1px #BFBDBD;
    color: #1e1e1e;
    height: 28px;
    padding-left:10px;
    width: 191px;
}

 input[type=text]
{
    border: 0;
    border-radius:5px;
    font-family: Sansation,Arial;
}


ul {
	list-style-type: none;

}

ul > li {
	display: inline;
}

form {
	 position: absolute;
    left: 50%;
    right: 50%;
}

.titles, .list {
	margin-left: 2.5em;
	padding-top: 2em;
}

.items, .item {
	width: 15em;
}

.Qty, .tally {
	width: 5em;
}

div >.count{
	background-color: #E6DFDF;
    width: 35px;
    font: bold 20px Helvetica, sans-serif;
    padding: 3px 0 0 0;
    text-align: center;
}

.items, .Qty, .item, .tally, .info {
	display: inline-block;
}

.info {
	color: #6EB7FF;
	border-radius: 100%;
	font-size: .8em;
    border: solid 1px;
    padding: .2em .6em;
    background-color: white;
    margin: 0em 0em 1em 0em;

}

/*var item = document.createTextNode("input");     
	$(".item").append(item);

	$( "input" ).keyup(function() {
    var value = $( this ).val();
	})

	<div class='item'></div>
			<div class="tally">
        		<input type="text" class="count" name="" placeholder="1"/>
    		</div>
			<div class="info"><i class="fa fa-info"></i></div>
			</div>
  var $.item = $("<div class='item'></div>")
	var $.item = $("<div class="tally"><input type="text" class="count" name="" placeholder="1"/></div>")
	var $.item = $("<div class="info"><i class="fa fa-info"></i></div>")