#logo{
    color: #6EB7FF;
}

#favlist {
    margin-left: .5em;
    color: gray;
}

input[type=text] {
    background-color: #E6DFDF;
    border:solid 1px #BFBDBD;
    color: #1e1e1e;
    height: 28px;
    padding-left:10px;
    width: 191px;
}

 input[type=text] {
    border: 0;
    border-radius:5px;
    font-family: Sansation,Arial;
}

input[type=submit] {
    position: absolute;
    left: 13em;
    top: -.01em;
    height: 30px;
    background-color: #7EB7FF;
    color: gray;
    border: none;
    border-radius: 5px;
    text-align: center;
    padding-bottom: 1px;
}

ul {
    list-style-type: none;

}

ul > li {
    display: inline;
}

form {
     position: absolute;
    left: 50%;
    right: 50%;
}

.titles, .list {
    margin-left: 2.5em;
    padding-top: 2em;
}

#items_column, .item {
    width: 15em;
}

.item {
    position: relative;
    left: 2.6em; 
}

p {
    margin:0em;
    border: solid 1px gray;
    border-radius: 5px;
    text-indent: .5em;
    background-color: #E6DFDF;
}
.strike {
    text-decoration: line-through;
    color:red;
}
/*Will think about adding item qty later - don't find it necessary
#Qty_column, .tally {
    width: 5em;
}
.tally {
    position: relative;
    left: 13em;
}
/*#item_Qty {
    background-color: #E6DFDF;
    width: 35px;
    font: bold 20px Helvetica, sans-serif;
    padding: 3px 0 0 0;
    text-align: center;
}*/

#items_column, /*#Qty_column,*/ /*.tally,*/ .list_item_edit_delete {
    display: inline-block;
}

.list_item_edit_delete  {
    position: relative;
    left:20em;
    top: -1.5em;
    color: #6EB7FF;
    border-radius: 100%;
    font-size: .8em;
    border: solid 1px;
    padding: .2em .4em;
    background-color: white;
}